body{
	background-color: #000000;
	text-align: center;
}

form{
	width: 400px;
	margin: 140px auto;
	text-align: center;
}

form input{
	margin-bottom: 5px;

}
form input[type="button"] {
	margin-right:10px;
}

